@charset "utf-8";
html{position: relative;min-height: 100%;}
body{font-family: 'Exo2Regular', sans-serif;font-size: 14px;color: #111;}
h1, h2, h3, h4, h5, h6{font-family: 'Exo2Medium', sans-serif;}
h1{font-size:16pt}

/*bootstrap переназначение */
.btn-secondary {color: #111!important;background-color:#fff!important;border-color:#bbb!important;}
.btn-secondary:hover {color:#000!important;background-color:#eee!important;border-color:#999!important;}
.btn-secondary:not(:disabled):not(.disabled).active{background-color:#ddd!important;border-color:#555!important;color:#000!important;}
.breadcrumb{background: transparent!important;}

/*user*/
#login-content {
  display: none;
  position: absolute;
  right:1rem;
  top:3rem;
  z-index: 999;
  background: #e2f1fc;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 11px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

header{transition: all 200ms ease;box-shadow: 0px 0px 14px 0px #000000;}
.footer {width: 100%;height: 60px;line-height: 60px;background-color: #f5f5f5;}
.registration_box{max-width:40rem}
/*******Fonts***/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');

	@font-face {
			font-family: "Exo2Regular";
			src: url("../../fonts/Exo2Regular/Exo2Regular.eot");
			src: url("../../fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
			url("../../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Bold";
			src: url("../../fonts/Exo2Bold/Exo2Bold.eot");
			src: url("../../fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
			url("../../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Light";
			src: url("../../fonts/Exo2Light/Exo2Light.eot");
			src: url("../../fonts/Exo2Light/Exo2Light.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Light/Exo2Light.woff") format("woff"),
			url("../../fonts/Exo2Light/Exo2Light.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2BoldItalic";
			src: url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.eot");
			src: url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.woff") format("woff"),
			url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraBold";
			src: url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.eot");
			src: url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.woff") format("woff"),
			url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraBoldItalic";
			src: url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.eot");
			src: url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.woff") format("woff"),
			url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraLight";
			src: url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.eot");
			src: url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.woff") format("woff"),
			url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraLightItalic";
			src: url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.eot");
			src: url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.woff") format("woff"),
			url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Italic";
			src: url("../../fonts/Exo2Italic/Exo2Italic.eot");
			src: url("../../fonts/Exo2Italic/Exo2Italic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Italic/Exo2Italic.woff") format("woff"),
			url("../../fonts/Exo2Italic/Exo2Italic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2BlackItalic";
			src: url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.eot");
			src: url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.woff") format("woff"),
			url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2LightItalic";
			src: url("../../fonts/Exo2LightItalic/Exo2LightItalic.eot");
			src: url("../../fonts/Exo2LightItalic/Exo2LightItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2LightItalic/Exo2LightItalic.woff") format("woff"),
			url("../../fonts/Exo2LightItalic/Exo2LightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Medium";
			src: url("../../fonts/Exo2Medium/Exo2Medium.eot");
			src: url("../../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
			url("../../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2MediumItalic";
			src: url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.eot");
			src: url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.woff") format("woff"),
			url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Black";
			src: url("../../fonts/Exo2Black/Exo2Black.eot");
			src: url("../../fonts/Exo2Black/Exo2Black.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Black/Exo2Black.woff") format("woff"),
			url("../../fonts/Exo2Black/Exo2Black.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2SemiBold";
			src: url("../../fonts/Exo2SemiBold/Exo2SemiBold.eot");
			src: url("../../fonts/Exo2SemiBold/Exo2SemiBold.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2SemiBold/Exo2SemiBold.woff") format("woff"),
			url("../../fonts/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2SemiBoldItalic";
			src: url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.eot");
			src: url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.woff") format("woff"),
			url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Thin";
			src: url("../../fonts/Exo2Thin/Exo2Thin.eot");
			src: url("../../fonts/Exo2Thin/Exo2Thin.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Thin/Exo2Thin.woff") format("woff"),
			url("../../fonts/Exo2Thin/Exo2Thin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ThinItalic";
			src: url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.eot");
			src: url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.woff") format("woff"),
			url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}