@charset "utf-8";

/**** 1600px *****/
@media only screen and (max-width: 1600px){

}

/*** 1440px ******/
@media only screen and (max-width: 1440px){

}

/**** 1380px *****/
@media only screen and (max-width: 1380px){

}

/**** 1280px ********/
@media only screen and (max-width: 1280px){
	.card-title{font-size: 20px;}
}

/**** 1199px *******/
@media only screen and (max-width: 1199px){
	.hero_box{padding-left: 20px;}
}

/**** 1100px ********/
@media only screen and (max-width: 1100px){
	
}

/*** 1024px ********/
@media only screen and (max-width: 1024px){
	.hero_slide_content{border-radius:.6rem;padding:0 0.5rem;}
	.hero_slider_nav{top: 65%;}
}

/**** 991px ********/
@media only screen and (max-width: 991px){
	
	.hero_slide_content{font-size: 48px;}
	.hero_boxes{width: 100%;
		height: auto;
		padding-top: 117px;
	}
	.hero_boxes_inner{
		position: relative;
		top: auto;
		left: auto;
	}
	.hero_box{
		padding-left: 50px;
	}
	.hero_box_col{
		margin-bottom: 30px;
	}
	.hero_box_col:last-child{
		margin-bottom: 0px;
	}

	.event_date{
		margin-top: 30px;
	}
	.event_name{
		margin-top: 17px;
	}
	.event_content p{
		margin-bottom: 0px;
	}
}

/**** 959px *****/
@media only screen and (max-width: 959px){

}

/**** 880px ******/
@media only screen and (max-width: 880px){

}

/***** 768px ******/
@media only screen and (max-width: 768px){
	#logo_title{padding-left:20%;}
	.hero_slide_content{max-width:100%;width:100%;border-radius:0;padding:0 .1rem;}
	.hero_slider_nav{top: 70%;}
}

/***** 767px ******/
@media only screen and (max-width: 767px){

}

/***** 575px *******/
@media only screen and (max-width: 575px){
	#logo_title{padding-left:5%;}
	.logo img{
		width: 30px;
	}
	.logo span{
		font-size: 16px;
	}
	.hero_slider_nav{
		display: none;
	}
	.hero_slide_content{
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.event_date{
		width: 100px;
		height: 100px;
	}
	.event_day{
		font-size: 36px;
	}
	.event_month{
		font-size: 14px;
	}
	.event_name{
		margin-top: 5px;
	}
}

/***** 539px ******/
@media only screen and (max-width: 539px){
	#logo_title{padding:0;}
}

/*** 480px *****/
@media only screen and (max-width: 480px){

}

/**** 479px ******/
@media only screen and (max-width: 479px){
	.hero_slide_content{
		font-size: 28px;
	}
	.hero_slide_content em{
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.hero_boxes{
		padding-top: 80px;
	}
	.hero_box{
		padding-left: 15px;
		height: 120px;
	}
	.hero_box_content{
		padding-top: 6px;
	}
	.hero_box img{
		width: 45px;
	}
	.hero_box_title{
		font-size: 18px;
		margin-bottom: 3px;
	}
	.hero_box_link{
		font-size: 10px;
	}
}