@charset "utf-8";
/*bootstrap переназначение */
.btn-secondary {color: #111!important;background-color:#fff!important;border-color:#bbb!important;}
.btn-secondary:hover {color:#000!important;background-color:#eee!important;border-color:#999!important;}
.btn-secondary:not(:disabled):not(.disabled).active{background-color:#ddd!important;border-color:#555!important;color:#000!important;}
.breadcrumb{background: transparent!important;}
.btn{overflow:hidden;text-overflow: ellipsis;}


*{margin: 0;padding: 0;-webkit-font-smoothing: antialiased;}
body{font-family: 'Exo2Regular', sans-serif;font-size: 11pt;font-weight: 400;background: #fff;color: #222;transition: all 200ms ease;}
ul, ol{list-style: none;margin-bottom: 0px;}
p{line-height: 13pt;text-indent:0}
p a{display: inline;position: relative;color: #16b;border: none;transition: all 200ms ease;}
a, a:hover, a:visited, a:active, a:link{text-decoration: none;}
p a:active{position: relative;color: #FF6347;}
p a:hover{border-bottom: solid 1px #7af;}
strong{font-family: 'Exo2Bold', sans-serif;font-weight: normal;}

::selection{background: #FFD266;color: #C88E00;}
p::selection{background: #FFD266;color: #C88E00;}
h1{font-size: 22pt;}
h2{font-size: 16pt;}
h3{font-size: 14pt;}
h4{font-size: 12pt;}
h5{font-size: 10pt;}
h1, h2, h3, h4, h5, h6{color: #333;font-family: 'Exo2SemiBold', sans-serif;text-shadow: rgba(0,0,0,.1) 0 0 1px;line-height:100%}
section{display: block;position: relative;box-sizing: border-box;}
.clear{clear: both;}
.clearfix::before, .clearfix::after{content: "";display: table;}
.clearfix::after{clear: both;}
.clearfix{zoom: 1;}
.float_left{float: left;}
.float_right{float: right;}
.trans_200{transition: all 200ms ease;}
.trans_300{transition: all 300ms ease;}
.trans_400{transition: all 400ms ease;}
.trans_500{transition: all 500ms ease;}

.article_text p{text-align:justify;}
.article_text ul {margin-bottom:1rem;}
.article_text li{padding:.1rem 1.5rem;}
.article_text li:before {padding-right:.4rem;color: #49d;content: "\2714";}

.block_title{color:#333;font-size:24pt;padding:.5rem .9rem}
.pagination_current{cursor:default !important;font-family: 'Exo2ExtraBold', sans-serif;}

.article_list{min-height:22.2rem;max-width:55rem;}
.article_read_wide{max-width:55rem}
.article_read{min-height:12.2rem;max-width:40rem;overflow:hidden;word-wrap: break-word;}
.article_read table{max-width:40rem;word-wrap: break-word;}
.article_read table td{word-wrap: break-word;}
/*user*/
#login_content{display: none;position: absolute;right:3.5rem;top:1.9rem;z-index: 999;background:linear-gradient(to top, #38d, #5af);padding: 11px;box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);border-radius: 3px 0 3px 3px;right:1.5rem;top:1.9rem;z-index: 999;}


/**SEARCH**/
#search_list{position:absolute;overflow:hidden;transition: all 0.3s ease 0s;max-height:50rem;max-width:50rem;min-width:20rem;background:#fff;top:2.4rem;z-index:9999;box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.5);}
#search_list tr:hover{cursor:pointer;background:#e3f2fd;}
.search_name, .search_desc{padding:0.1rem 0.2rem 0.2rem !important;}
.search_name{min-width:15rem;}
#search_list .active{cursor: pointer;background-color:#e3f2fd;}

#search_list em. #call_search_list em {font-weight:bold;}

.registration_box{max-width:35rem;min-height:23rem}
/***************Header*******/
.header{box-shadow: 0px 0px 14px 0px #000000;position: relative;z-index:2}

#logo_title{font-size: 13pt;color:#222;font-family:'Exo2Medium', sans-serif;line-height:15pt;}
#header_contact{color:#444;font-family:'Exo2SemiBold', sans-serif;font-size:18pt;}
#search_top{width:100%;}

/*****Main Nav******************/
.nav{background:linear-gradient(to top, #16b, #38d);}

.nav_dropdown_item{color:#222;}
.nav_dropdown_item:hover{background: #fefefe;background: radial-gradient(ellipse at center, #fefefe, #e4e4df);color:#000;}
.nav-link{color:#fff;font-family: 'Exo2Medium', sans-serif;font-size: 11pt;text-transform: uppercase;transition: all 200ms ease;}
.nav-link:hover{color: #ffb606;background:#16b;}

/*********  Slider ********************/
.hero_slider{width: 100%;height: 440px;}
.hero_slide{width: 100%;height: 100%;}
.hero_slide_background{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: center center;}
.hero_slide_content{max-width: 80%;transform: translateY(130px);background: #fff;padding: 0;opacity: 0.8;border-radius:.5rem;padding:0 1rem;}
/*text-shadow:1px 1px 1px #333;*/
.slider_name{font-size: 22pt;font-family: 'Exo2Bold', sans-serif;color: #111;}
.slider_text{font-size: 13pt;font-family: 'Exo2SemiBold', sans-serif;color: #222;}
.animated{-webkit-animation-duration : 1s !important;animation-duration : 1s !important;-webkit-animation-delay : 500ms;animation-delay : 500ms;}
.animate-out{-webkit-animation-delay : 0ms;animation-delay : 0ms;}
/****Slider Navigation****************/
.hero_slider_nav{
	font-size:30pt;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(calc(-50% + 30px));
	width: 58px;
	height: 58px;
	background: #fff;
	color: #38d;
	z-index: 9;
	cursor: pointer;
	border-radius:4rem;

}
.hero_slider_nav:hover{color: #ffb606;}

.hero_slider_nav span{display: block;text-transform: uppercase;font-size: 12px;font-weight: 700;color: #121212;line-height: 1;}
.hero_slider_left{left: 4%;}
.hero_slider_right{right: 4%;}

/****************Events******************/
.event_name{}
.event_name a{font-size: 14pt;color: #222;font-family: 'Exo2Medium', sans-serif;line-height:12pt;text-shadow: 1px 1px 1px #ccc;}
.event_name a:hover{color:#38d;}
.event_text{}

.event_date{font-family: 'Exo2LightItalic', sans-serif;font-size: 10pt;color: #444;line-height: 15pt;}

.event_img{}

/****** Footer ******************/
.footer{background: #151515;color:#eee}
.footer_icon{display: inline-block;width: 1.5rem;height: 100%;vertical-align: middle;color:#ffb606;font-size: 12pt;float:left}
.social_img{opacity:.8}
.social_img:hover{opacity:1}
/*********** Buttons **************************/
.button{display: inline-block;vertical-align: middle;padding: 0 .8rem;border-radius:.2rem;border: solid 2px #333;background: transparent;font-size: 12px;font-family: 'Exo2BoldItalic', sans-serif;text-transform:uppercase;color:#333}
.button:hover{box-shadow: 0px .3rem .4rem rgba(0,0,0,0.4);border: solid 2px #38d;}

/***rating*********/
#rating {position:relative; height:16px; cursor:pointer; width:80px; float:left} /* Блок рейтинга*/
#rating_blank, #rating_votes, #rating_hover {height:16px; position:absolute}
#rating_blank {background:url(/image/rating.png) no-repeat; width:80px; } /* "Чистые" звездочки */
#rating_votes {background:url(/image/rating.png) no-repeat 0 -16px} /*  Закрашенные звездочки */ 
#rating_hover {background:url(/image/rating.png) no-repeat 0 -32px; display:none;z-index:999;}  /*  звездочки при голосовании */ 
#rating_info {margin-left:100px}

/*********Comments ****************/
.comments_title{font-family: "Exo2SemiBold", sans-serif;border-top:1px solid #eee;font-size:14pt;}
.comment_header{}
.comment_body{margin-left:1rem;padding:1rem;background:linear-gradient(to top left, #b8dcff, #cde9ff);border-radius:5px;width:100%;}
.comment_name{display:inline;font-family: "Exo2SemiBold", sans-serif;font-size:10pt;}
.comment_date{font-family: "Exo2LightItalic", sans-serif;font-size: 10pt;color: #444;line-height: 15pt;}
.comment_rating{display:inline;}
.comment_text{}

/*******Fonts*
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700');
**/
	@font-face {
			font-family: "Exo2Regular";
			src: url("../../fonts/Exo2Regular/Exo2Regular.eot");
			src: url("../../fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
			url("../../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Bold";
			src: url("../../fonts/Exo2Bold/Exo2Bold.eot");
			src: url("../../fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
			url("../../fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Light";
			src: url("../../fonts/Exo2Light/Exo2Light.eot");
			src: url("../../fonts/Exo2Light/Exo2Light.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Light/Exo2Light.woff") format("woff"),
			url("../../fonts/Exo2Light/Exo2Light.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2BoldItalic";
			src: url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.eot");
			src: url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.woff") format("woff"),
			url("../../fonts/Exo2BoldItalic/Exo2BoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraBold";
			src: url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.eot");
			src: url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.woff") format("woff"),
			url("../../fonts/Exo2ExtraBold/Exo2ExtraBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraBoldItalic";
			src: url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.eot");
			src: url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.woff") format("woff"),
			url("../../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraLight";
			src: url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.eot");
			src: url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.woff") format("woff"),
			url("../../fonts/Exo2ExtraLight/Exo2ExtraLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ExtraLightItalic";
			src: url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.eot");
			src: url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.woff") format("woff"),
			url("../../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Italic";
			src: url("../../fonts/Exo2Italic/Exo2Italic.eot");
			src: url("../../fonts/Exo2Italic/Exo2Italic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Italic/Exo2Italic.woff") format("woff"),
			url("../../fonts/Exo2Italic/Exo2Italic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2BlackItalic";
			src: url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.eot");
			src: url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.woff") format("woff"),
			url("../../fonts/Exo2BlackItalic/Exo2BlackItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2LightItalic";
			src: url("../../fonts/Exo2LightItalic/Exo2LightItalic.eot");
			src: url("../../fonts/Exo2LightItalic/Exo2LightItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2LightItalic/Exo2LightItalic.woff") format("woff"),
			url("../../fonts/Exo2LightItalic/Exo2LightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Medium";
			src: url("../../fonts/Exo2Medium/Exo2Medium.eot");
			src: url("../../fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
			url("../../fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2MediumItalic";
			src: url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.eot");
			src: url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.woff") format("woff"),
			url("../../fonts/Exo2MediumItalic/Exo2MediumItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Black";
			src: url("../../fonts/Exo2Black/Exo2Black.eot");
			src: url("../../fonts/Exo2Black/Exo2Black.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Black/Exo2Black.woff") format("woff"),
			url("../../fonts/Exo2Black/Exo2Black.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2SemiBold";
			src: url("../../fonts/Exo2SemiBold/Exo2SemiBold.eot");
			src: url("../../fonts/Exo2SemiBold/Exo2SemiBold.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2SemiBold/Exo2SemiBold.woff") format("woff"),
			url("../../fonts/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2SemiBoldItalic";
			src: url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.eot");
			src: url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.woff") format("woff"),
			url("../../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2Thin";
			src: url("../../fonts/Exo2Thin/Exo2Thin.eot");
			src: url("../../fonts/Exo2Thin/Exo2Thin.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2Thin/Exo2Thin.woff") format("woff"),
			url("../../fonts/Exo2Thin/Exo2Thin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Exo2ThinItalic";
			src: url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.eot");
			src: url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.eot?#iefix")format("embedded-opentype"),
			url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.woff") format("woff"),
			url("../../fonts/Exo2ThinItalic/Exo2ThinItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
